#This is where Kubernetes connects to IAM.
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets
  namespace: external-secrets
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::840026269170:role/eso-irsa-role
